*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  list-style: none;
  text-decoration: none;

  
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 10%;
    /* background-color: red; */
}


.logo img{
    width: 100px;
    height: 100px;
}


.navmenu{
    display: flex;
}


.navmenu a{
    color: #B86948;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 10px 20px;
    transform: all  .42s;
}

.navmenu a:hover{
    color: #FF3000;
}



.navmenu .active{
    color: #FF3000;
}


#menu-icon{
    font-size: 35px;
    color: #B86948;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/* .main{
    background-image: url(image/bg.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

section{
    padding: 0 14%;
}
 /* section{

padding: 0 14;
 } */
.main{
    width: 100%;
    height: 100vh;
    background: url(https://i.pinimg.com/originals/6f/a3/2d/6fa32de84d590fe1800c8e55cde91845.jpg) ;
    background-position: center;
    background-size: cover;
    /* display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: space-between; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;


}

.text{
    color: #B86948;
    font-size: 1.25rem;
    font-weight: 600;
}


.text h1{
    font-size: 3.70rem;
    color: antiquewhite;
    font-weight: 700;
    line-height: 1.2;
    margin: 15px 0;
}
.main-img img{
    width: 300px;
    height: 300px;
}
footer{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}
.nested{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}
a{
    margin: 10px;
}